---
---

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.content h2,
.content h3,
.content h4,
.content h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.75;
  margin-top: 24px;
  margin-bottom: 14px;
}

.content h2 {
  font-size: 28px;
}

.content h3 {
  font-size: 24px;
}

.content h4 {
  font-size: 19px;
  margin-bottom: 8px;
}

.content h5 {
  font-size: 16px;
}

.content p {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 18px;
}

.content :not(.sidebar) li{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.content :not(.sidebar) li ul,
.content :not(.sidebar) li ol {
    margin-top: 0px;
    margin-bottom: 8px;
}

.content h2, h3 {
  position: relative;
  padding-left: 1rem;
}

.content h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;               /* 定位點到容器高度 50% */
  transform: translateY(-50%); /* 再往上拉一半高度 */
  height: 100%;            /* 如果還要留空，可用 */
  width: 0.5rem;
  background-color: #007bff;
}

.content h3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;               /* 定位點到容器高度 50% */
  transform: translateY(-50%); /* 再往上拉一半高度 */
  height: 100%;            /* 如果還要留空，可用 */
  width: 0.5rem;
  background-color: #28a745;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #aaa;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    max-width: 35%;
    margin: 30px auto;
    border-left: none;
    border-right: none;
}

.card {
  border: 2px solid black !important;
}

html[data-mode='dark'] .card {
  border: 2px solid white !important;
}
